body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    display: block;
    background: rgb(29,155,240);
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

textarea, input {
    border: none;
    width: 100%;
    display: block;
    resize: none;
    overflow: hidden;
}

textarea:focus-visible, input:focus-visible {
    outline: none;
}


span {
    cursor: pointer;
    font-weight: bold;    
}

* {
    box-sizing: border-box;
}