body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    display: block;
    background: rgb(29,155,240);
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

textarea, input {
    border: none;
    width: 100%;
    display: block;
    resize: none;
    overflow: hidden;
}

.field {
    label {
        display: block;
        font-size: 10px;
    }
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
    input {
        height: 20px;
    }
}
.field:focus-within {
    border: 2px solid rgb(29,155,240);
    color: rgb(29,155,240);
}

textarea:focus-visible, input:focus-visible {
    outline: none;
}


span {
    cursor: pointer;
    font-weight: bold;    
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    li {
        margin: 1px 0;
    }
}

.tweetscontainer:hover {
    cursor: pointer;
    background-color: #eee;
}

.small {
    font-weight: normal;
    font-size: 11px;
}

a {
    text-decoration: none;
}

a:visited {
    color: currentColor;
}

.backDrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgba($color: #000000, $alpha: 0.25);
}
.material-symbols-outlined {
    padding: 3px;
    font-size: 1.5em;
    border-radius: 50%;
  }
.tweets {
    min-height: 100vh;
}

.user {
    span {
      font-weight: bold;
      cursor: pointer;
    }
    .material-symbols-outlined:hover {
      color: rgb(29,155,240);
      background: rgba(29,155,255, 0.1);
    }
    .small {
      font-size: 11px;
      font-weight: normal;
      cursor: text;
    }
    .optionsT {
        position: absolute;
        right: 20px;
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 20px;
        box-shadow: -1px 1px 4px gray;
        padding: 10px 0;
        overflow: hidden;
        div {
          padding: 0 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .material-symbols-outlined:hover {
            color: red;
            background-color: #eee;
        }
        div:hover {
          background: #eee;
        }
        #delete {
          color: red;
          font-weight: bold;
        }
      }
  }

  .relative {
    position: relative;
  }

.success {
    font-weight: bold;
    text-align: center;
}
.error {
    color: red;
    text-align: center;
}

@keyframes spining {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }      
}
.loading {
    border-radius: 50%;
    margin: 100px auto;
    width: 50px;
    height: 50px;
    border: 5px solid #eee;
    border-top: 5px solid rgb(29,155,240);
    animation: spining 1s ease infinite;
}



@media screen and (max-width: 900px) {
    .left-side {
        width: fit-content;
        .left-bar {
            .options {
                span {
                    background: red;
                    display: none;
                }
            }
            .empty {
                * {
                    margin: 1px;
                }
                div {
                    display: none;
                }
                .bp {
                    display: block;
                }
            }
        }
    }
    
}

@media screen and (max-width: 700px) {
    .right-side {
        display: none;
    }
    .tweets {
        width: 69%;
    }
}
@media screen and (max-width: 500px) {
    #responseTW {
        display: block;
        border-radius: 0;
        padding: 30px 5px;
        width: 100%;
        height: fit-content;
      }
    #backDrop {
        padding: 0;
    }
    .profile {
        padding: 5px;
    }
    .editSection {
        border-radius: 0;
        padding: 30px 5px;
        width: 100vw;
        margin: 50px 0;
        height: fit-content;
    }
    .nav {
        top: 40px;
    }
    .nav.Normal {
        display: none;
    }
    .homepage { 
        margin: 0 10px;
    }
    .right-side, .left-side {
        display: none;
        width: 0;
    }
    .tweets {
        width: 100%;
        margin: 0;
        .head {
            img {
                display: block;
                height: 30px;
                width: 30px;
            }
        }
        #brCell {
            display: block;
        }
        
    }
}